<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    
    <div th:include="~{fragmentos/head}"><!-- menu de estilização --></div>
</head>


<body>
    <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>
    <div class="container">
        
        <h1>Sobre Nós</h1>

        <p>A Escola Network está localizada em Nova Odessa, Sumaré, SP. Somos uma escola modelo high school, seguindo os padrões das escolas dos EUA. Oferecemos ensino fundamental 1 e 2, médio e faculdade.</p>
        
        <p>Nosso compromisso com a excelência acadêmica vai além das fronteiras. Os alunos que se destacam durante o ensino médio têm a oportunidade de ganhar uma bolsa para estudar um ano de high school nos EUA.</p>
        
        <p>Além do currículo regular, oferecemos aulas extras para os alunos do ensino fundamental. Nas segundas e quartas-feiras, os alunos têm aulas integrais, com almoço incluso, e à tarde participam de atividades esportivas como educação física, futsal, vôlei e natação. Os alunos do ensino médio também têm a sexta-feira integral, como parte de nossa iniciativa para promover um estilo de vida mais saudável e ativo entre os adolescentes.</p>
        
        <footer>
            <p>&copy; 2024 networkschool. Todos os direitos reservados.</p>
        </footer>
    </div>


</body>


</html>
