<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <div th:include="~{fragmentos/head}"><!-- menu de estilização --></div>
</head>


<body>
    <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>
    <div class="container">
        
        <!-- ---inserir um carroussel-- -->
        
        <!-- inserir um footer -->
        
          <footer>
            <div class="footer-content">
                <div class="footer-section about">
                    <h3>Sobre nós</h3>
                    <p>Somos uma escola dedicada ao sucesso acadêmico e pessoal de nossos alunos. Oferecemos uma variedade de programas e atividades extracurriculares para enriquecer a experiência educacional trazendo um método high school.</p>
                </div>
                <div class="footer-section contact">
                    <h3>Contato</h3>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> Endereço: Rua Antônio Jorge Chebab, 810 - Sumaré - SP.</li>
                        <li><i class="fa fa-phone"></i> Telefone: (19) 38839-7890</li>
                        <li><i class="fa fa-envelope"></i> Email: info@networkchool.com</li>
                    </ul>
                </div>
                <div class="footer-section links">
                    <h3>Links úteis</h3>
                    <ul>
                        <li><a href="#">Calendário escolar</a></li>
                        <li><a href="#">Currículo acadêmico</a></li>
                        <li><a href="#">Admissões</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                &copy; 2024 High School de Springfield | Todos os direitos reservados
            </div>
        </footer>
        
       
    </div>


</body>


</html>
